<section class="content">
  <section class="invoice">
    <!-- 
    {{form.valid}}
    {{form.value | json}} -->
    <form #form="ngForm" novalidade>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">



          <mt-input [items.name]=name></mt-input>





        </div>
        <div class="col-sm-2 col-xs-6">
          <div class="form-group" [class.has-success]="ipNumber.valid && (ipNumber.dirty || ipNumber.touched)"
            [class.has-error]="!ipNumber.valid && (ipNumber.dirty || ipNumber.touched)">
            <input class="form-control" autocomplete="off" placeholder="Número" name="number" #ipNumber=ngModel
              pattern='^[0-9]*$' ngModel required></div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="form-group" [class.has-success]="ipOptional.valid && (ipOptional.dirty || ipOptional.touched)"
            [class.has-error]="!ipOptional.valid && (ipOptional.dirty || ipOptional.touched)">
            <input class="form-control" autocomplete="off" placeholder="Complemento" name="optional" #ipOptional=ngModel
              pattern='^[0-9]*$' ngModel required>
          </div>
        </div>
      </div>

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-items [items]="cartItem()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)"
          (remove)="remove($event)"></mt-order-items>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <div class="form-group">
            <mt-radio [options]="paymentOptions" name="paymentOption" ngModel></mt-radio>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [delivery]='delivery' [itemsValue]='itemsValue()'> </mt-delivery-costs>
        </div>
      </div>
    </form>
    <!--<button type="submit" [disabled]="form.invalid">submit</button>-->
    <div *ngIf="form.invalid || cartItem().length === 0">Ups! Formulário invalido!</div>

    <div class="row">
      <div class="col-xs-12">
        <button type="submit" [disabled]="form.invalid || cartItem().length === 0" class="btn btn-success pull-right"><i
            class="fa fa-credit-card"></i> Concluir
          Pedido
        </button>
      </div>
    </div>
  </section>
</section>